<!--<div class="bmd-layout-canvas">
  <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay-md-down bmd-drawer-in-lg-up">
    <header class="bmd-layout-header">
      <div class="navbar navbar-light bg-faded" style="height: 50px">
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="drawer" data-target="#dw-1"
                aria-expanded="false">
          <span class="sr-only">Toggle drawer</span>
          <i class="material-icons">menu</i>
        </button>
        <ul class="nav navbar-nav">
          <li class="navbar-brand">RentForHour</li>
        </ul>

      </div>
    </header>

    <div id="dw-1" class="bmd-layout-drawer bg-faded" aria-expanded="false" aria-hidden="true">
      <header style="background-color: #74a4be; color: white">
        <a class="navbar-brand">MENU</a>
      </header>

      <ul class="list-group">
        <a routerLink="/dashboard" class="list-group-item">
          <i class="material-icons">home</i>
          Welcome
        </a>

        <a routerLink="/heroes" class="list-group-item">
          <i class="material-icons">home</i>
          Home
        </a>

        <a routerLink="/heroes" class="list-group-item">
          <i class="material-icons">settings</i>
          Settings
        </a>

        <a href="#" class="list-group-item">
          <i class="material-icons">exit_to_app</i>
          Logout
        </a>
      </ul>
    </div>


    <main class="bmd-layout-content">
      <div class="container">
      </div>
    </main>
  </div>
</div>-->


<navbar></navbar>
<router-outlet></router-outlet>

