<div class="container" style="margin-top: 4rem">
  <h2>Мои Объекты</h2>
  <ul class="list-group">
    <li *ngFor="let apartment of apartments" class="list-group-item"
        [class.selected]="apartment === selectedApartment"
        (click)="onSelect(apartment)">
      <span class="badge">{{apartment.id}}</span>
      <span>{{apartment.name}}</span>
      <button class="delete btn btn-primary"
              (click)="delete(apartment); $event.stopPropagation()">x
      </button>
    </li>
  </ul>
  <div *ngIf="selectedApartment">
    <h2>
      {{selectedApartment.name | uppercase}} is my apartment
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
  <div>
    <label>Apartment name:</label><input #apartmentName/>
    <button class="btn btn-primary" (click)="add(apartmentName.value); apartmentName.value=''">
      Add
    </button>
  </div>
</div>
