<div class="">
  <h2>Регистрация</h2>
  <form class="card form-register-user m-x-auto " #registerForm="ngForm" (ngSubmit)="login()">
    <fieldset>
      <div class="form-group">
        <label class="bmd-label-static" for="name">Имя</label>
        <input id="name" type="text" name="name" class="form-control" required
               [(ngModel)]="user.name" #name="ngModel"
        />
        <div *ngIf="registerForm.submitted && !name.valid"
             class="alert alert-danger">
          Введите имя
        </div>
      </div>

      <div class="form-group">
        <label class="bmd-label-static" for="password">Фамилия</label>
        <input id="surname" type="password" name="surname" class="form-control" required
               [(ngModel)]="user.surname" #surname="ngModel"
        />
        <div *ngIf="registerForm.submitted && !surname.valid"
             class="alert alert-danger">
          Введите фамилию
        </div>
      </div>


      <div class="form-group">
        <label class="bmd-label-static" for="username">Почта</label>
        <input id="username" type="text" name="username" class="form-control" required
               [(ngModel)]="user.username" #username="ngModel"
        />
        <div *ngIf="registerForm.submitted && !username.valid"
             class="alert alert-danger">
          Введите логин
        </div>
      </div>
      <div class="form-group">
        <label class="bmd-label-static" for="password">Пароль</label>
        <input id="password" type="password" name="password" class="form-control" required
               [(ngModel)]="user.password" #password="ngModel"
        />
        <div *ngIf="registerForm.submitted && !password.valid"
             class="alert alert-danger">
          Введить пароль
        </div>
      </div>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Принять</button>
        <a class="btn btn-link" [routerLink]="['/login']">Назад</a>
      </div>
    </fieldset>
  </form>

</div>
