<div class="container" style="margin-top: 4rem">
  <h3>Top Heroes</h3>
  <hero-search></hero-search>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Фото</th>
          <th>Описание</th>
          <th>Стоимость</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let hero of heroes">
            <td>
              <a href="#" [routerLink]="['/detail', hero.id]">{{hero.name}}</a>
            </td>
            <td>
              <a href="#" [routerLink]="['/detail', hero.id]">{{hero.name}}</a>
            </td>
            <td>
              <a href="#" [routerLink]="['/detail', hero.id]">{{hero.name}}</a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

